body {
  font-family: Inter;
  font-size: 12px;
  margin: 0;
}

.no-selection {
  margin-bottom: 15px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 17px;
  background-color: #f24822;
  color: #fff;
  width: 100%;
  z-index: 3;
  transition: all 0.3s;
  transform: translateY(-53px);
  box-shadow: none;
}

.no-selection.active {
  transform: translateY(0px);
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
}

.no-selection .icon {
  float: left;
  margin: 0 5px 0 -10px;
}

.align-icon {
  position: relative;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.align-icon.active,
.align-icon:hover {
  border-color: #18a0fb;
  border-width: 2px;
}
.align-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

/* lines */
.align-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 1px;
  transform: translate(-50%, -100%);
  background-color: #000;
}

.align-icon.horizontal.top::before {
  transform: translate(-50%, -12px);
}
.align-icon.horizontal.bottom::before {
  transform: translate(-50%, 12px);
}

.align-icon.vertical::before {
  width: 1px;
  height: 21px;
  transform: translate(-100%, -50%);
}

.align-icon.vertical.left::before {
  transform: translate(-12px, -50%);
}
.align-icon.vertical.right::before {
  transform: translate(12px, -50%);
}

.align-icon.angle::before {
  width: 21px;
  height: 21px;
  border-width: 0 0 1px 1px;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.angle::after {
  border-width: 1px 1px 0 0;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  width: 12px;
  height: 12px;
  border-radius: 0 100% 0 0;
}

.align-icon.left-bottom::before {
  width: 21px;
  height: 21px;
  border-width: 0 0 1px 1px;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.left-top::before {
  width: 21px;
  height: 21px;
  border-width: 1px 0 0 1px;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.right-top::before {
  width: 21px;
  height: 21px;
  border-width: 1px 1px 0 0;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.right-bottom::before {
  width: 21px;
  height: 21px;
  border-width: 0 1px 1px 0;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.tooltip::after {
  width: 22px;
  height: 22px;
}

.align-icon.tooltip::before {
  width: 15px;
  height: 3px;
  border-width: 1px 0 1px 0;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -6px);
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

hr {
  border-width: 1px 0 0 0;
  border-color: #e5e5e5;
  border-style: solid;
  margin: 17px 0;
}

.footer {
  padding: 0 10px 10px;
}
.button-mark {
  width: 100%;
  margin-top: 15px;
}

button {
  cursor: pointer;
}
/* typo */
h4 {
  margin-top: 0;
}

input[type='color'],
input[type='color']:active {
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

input[type='range']:hover,
input[type='color']:hover,
input[type='range']:focus,
input[type='color']:focus {
  border: 0;
  outline: none;
}

input[type='range'] {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  border: 0;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  border-radius: 3px;
  background: #efefef;
  border: 1px solid #ddd;
}
input[type='range']::-webkit-slider-thumb {
  height: 10px;
  width: 19px;
  border-radius: 5px;
  background: #17a0fb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #eee;
  border: 1px solid #ddd;
}
