/* Vars */
:root {
  /* COLORS */
  /* Accent */
  --blue: #18a0fb;
  --purple: #7b61ff;
  --hot-pink: #ff00ff;
  --green: #1bc47d;
  --red: #f24822;
  --yellow: #ffeb00;
  /* Basic foreground */
  --black: #000000;
  --black8: rgba(0, 0, 0, 0.8);
  --black8-opaque: #333333;
  --black3: rgba(0, 0, 0, 0.3);
  --black3-opaque: #b3b3b3;
  --white: #ffffff;
  --white8: rgba(255, 255, 255, 0.8);
  --white4: rgba(255, 255, 255, 0.4);
  /* Basic background */
  --grey: #f0f0f0;
  --silver: #e5e5e5;
  --hud: #222222;
  --toolbar: #2c2c2c;
  /* Special */
  --black1: rgba(0, 0, 0, 0.1);
  --blue3: rgba(24, 145, 251, 0.3);
  --purple4: rgba(123, 97, 255, 0.4);
  --hover-fill: rgba(0, 0, 0, 0.06);
  --selection-a: #daebf7;
  --selection-b: #edf5fa;
  --white2: rgba(255, 255, 255, 0.2);
  /* TYPOGRAPHY */
  /* Pos = positive applications (black on white) */
  /* Neg = negative applications (white on black) */
  /* Font stack */
  --font-stack: 'Inter', sans-serif;
  /* Font sizes */
  --font-size-xsmall: 11px;
  --font-size-small: 12px;
  --font-size-large: 13px;
  --font-size-xlarge: 14px;
  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  /* Lineheight */
  --font-line-height: 16px;
  /* Use For xsmall, small font sizes */
  --font-line-height-large: 24px;
  /* Use For large, xlarge font sizes */
  /* Letterspacing */
  --font-letter-spacing-pos-xsmall: 0.005em;
  --font-letter-spacing-neg-xsmall: 0.01em;
  --font-letter-spacing-pos-small: 0;
  --font-letter-spacing-neg-small: 0.005em;
  --font-letter-spacing-pos-large: -0.0025em;
  --font-letter-spacing-neg-large: 0.0025em;
  --font-letter-spacing-pos-xlarge: -0.001em;
  --font-letter-spacing-neg-xlarge: -0.001em;
  /* BORDER RADIUS */
  --border-radius-small: 2px;
  --border-radius-med: 5px;
  --border-radius-large: 6px;
  /* SHADOWS */
  --shadow-hud: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
  --shadow-floating-window: 0 2px 14px rgba(0, 0, 0, 0.15);
  /* SPACING + SIZING */
  --size-xxxsmall: 4px;
  --size-xxsmall: 8px;
  --size-xsmall: 16px;
  --size-small: 24px;
  --size-medium: 32px;
  --size-large: 40px;
  --size-xlarge: 48px;
  --size-xxlarge: 64px;
  --size-xxxlarge: 80px;
}

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/*  FONTS */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7')
      format('woff');
}

.no-selection {
  margin-bottom: 15px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 17px;
  background-color: #f24822;
  color: #fff;
  width: 100%;
  z-index: 3;
  transition: all 0.3s;
  transform: translateY(-53px);
  box-shadow: none;
}

.no-selection.active {
  transform: translateY(0px);
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);
}

.no-selection .icon {
  float: left;
  margin: 0 5px 0 -10px;
}

.align-icon {
  position: relative;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
.align-icon.active,
.align-icon:hover {
  border-color: #18a0fb;
  border-width: 2px;
}
.align-icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

/* lines */
.align-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 1px;
  transform: translate(-50%, -100%);
  background-color: #000;
}

.align-icon.horizontal.top::before {
  transform: translate(-50%, -12px);
}
.align-icon.horizontal.bottom::before {
  transform: translate(-50%, 12px);
}

.align-icon.vertical::before {
  width: 1px;
  height: 21px;
  transform: translate(-100%, -50%);
}

.align-icon.vertical.left::before {
  transform: translate(-12px, -50%);
}
.align-icon.vertical.right::before {
  transform: translate(12px, -50%);
}

.align-icon.angle::before {
  width: 21px;
  height: 21px;
  border-width: 0 0 1px 1px;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.angle::after {
  border-width: 1px 1px 0 0;
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  width: 12px;
  height: 12px;
  border-radius: 0 100% 0 0;
}

.align-icon.left-bottom::before {
  width: 21px;
  height: 21px;
  border-width: 0 0 1px 1px;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.left-top::before {
  width: 21px;
  height: 21px;
  border-width: 1px 0 0 1px;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.right-top::before {
  width: 21px;
  height: 21px;
  border-width: 1px 1px 0 0;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.right-bottom::before {
  width: 21px;
  height: 21px;
  border-width: 0 1px 1px 0;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

.align-icon.tooltip::after {
  width: 22px;
  height: 22px;
}

.align-icon.tooltip::before {
  width: 15px;
  height: 3px;
  border-width: 1px 0 1px 0;
  border-color: #000;
  border-style: solid;
  background-color: transparent;
  transform: translate(-50%, -6px);
}

.footer {
  padding: 0 10px 10px;
}
.button-mark {
  width: 100%;
  margin-top: 15px;
}

button {
  cursor: pointer;
}
